<!DOCTYPE html>
<html>

<head>
    <title>{{ title }}</title>
</head>

<body>
    <div class="container">
        <nav class="navbar navbar-expand-lg navbar-light bg-white justify-content-end">
            <ul class="navbar-nav">
                <li class="row">
                    <div class="col-sm-2">
                        <span id="thid" style="display:none;"></span>
                    </div>
                    <div class="col-sm-2">
                        <a href="/getOut">Logout</a>
                    </div>
                </li>
            </ul>
        </nav>
        <div id="accordion">
            <div class="row mt-3">
                <div class="col-6">
                    <div class="card">
                        <div class="card-header text-center" id="headingOne">
                            <h5>
                                <a data-toggle="collapse" href="#collapseExample1" role="button" aria-expanded="false" aria-controls="collapseExample1">Register for Technical Assessment</a>
                            </h5>
                        </div>
                        <div class="collapse" id="collapseExample1" aria-labelledby="headingOne" data-parent="#accordion">
                            <div class="card-body">
                                <div class="card">
                                    <div class="card-header">
                                        <div class="card-title">
                                            <h5>Technical Assessment Registration</h5>
                                        </div>
                                    </div>
                                    <div class="card-body">
                                        <form class="form-horizontal" role="form">
                                            <div style="display: none" class="alert alert-danger signupalert">
                                                <p>Error:</p><span></span>
                                            </div>
                                            <div class="form-group">
                                                <label class="col-md-3 control-label">User ID</label>
                                                <div class="col-md-9">
                                                    <input type="text" [value]="userId" (input)="userId = $event.target.value" class="form-control" disabled>
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label class="col-md-3 control-label">Assessment</label>
                                                <div class="col-md-9">
                                                    <select class="form-control" [(ngModel)]="TechReg.skillTopic">
                                                        <option selected disabled>Select an assessment</option>
                                                        <option>Java</option>
                                                        <option>C++</option>
                                                        <option>C#</option>
                                                        <option>Python</option>
                                                        <option>Perl</option>
                                                        <option>PHP</option>
                                                    </select>
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label class="col-md-3 control-label">Date</label>
                                                <div class="col-md-9">
                                                    <input type="date" id="dateof" [(ngModel)]="TechReg.scheduledDate" class="form-control" placeholder="Select a Date">
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <!-- Button -->
                                                <div class="col-md-offset-3 col-md-9">
                                                    <button type="submit" class="btn btn-info" (click)="sendTechA()">
                                                        <i class="icon-hand-right"></i>Register
                                                    </button>
                                                </div>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-6">
                    <div class="card">
                        <div class="card-header text-center" id="headingTwo">
                            <h5>
                                <a class="collapsed" data-toggle="collapse" href="#collapseExample2" role="button" aria-expanded="false" aria-controls="collapseExample2">Register for Behavioral Assessment</a>
                            </h5>
                        </div>
                        <div class="collapse" id="collapseExample2" aria-labelledby="headingTwo" data-parent="#accordion">
                            <div class="card-body">
                                <div class="card">
                                    <div class="card-header">
                                        <div class="card-title">
                                            <h5>Behavioral Assessment Registration</h5>
                                        </div>
                                    </div>
                                    <div class="card-body">
                                        <form class="form-horizontal" role="form">
                                            <div style="display: none" class="alert alert-danger signupalert">
                                                <p>Error:</p><span></span>
                                            </div>
                                            <div class="form-group">
                                                <label class="col-md-3 control-label">User ID</label>
                                                <div class="col-md-9">
                                                    <input type="text" [value]="userId" (input)="userId = $event.target.value" class="form-control" disabled>
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label class="col-md-3 control-label">Assessment</label>
                                                <div class="col-md-9">
                                                    <select class="form-control" [(ngModel)]="BehvReg.skillTopic">
                                                        <option selected disabled>Select an assessment</option>
                                                        <option>Step Plus</option>
                                                        <option>Email Etiquette</option>
                                                        <option>Learning Agility</option>
                                                    </select>
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label class="col-md-3 control-label">Date</label>
                                                <div class="col-md-9">
                                                    <input type="date" id="dateof" [(ngModel)]="BehvReg.scheduledDate" class="form-control" placeholder="Select a Date">
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <!-- Button -->
                                                <div class="col-md-offset-3 col-md-9">
                                                    <button type="submit" class="btn btn-info" (click)="sendBehvA()">
                                                        <i class="icon-hand-right"></i>Register
                                                    </button>
                                                </div>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>

<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
<script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.15.0/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>

</html>