<!DOCTYPE html>
<html>

<head>
    <title>{{ title }}</title>
</head>

<body>
    <div class="container">
        <nav class="navbar navbar-expand-lg navbar-light bg-white justify-content-end">
            <ul class="navbar-nav">
                <li class="row">
                    <div class="col-sm-2">
                        <span id="thid" style="display:none;"></span>
                    </div>
                    <div class="col-sm-2">
                        <a href="/getOut">Logout</a>
                    </div>
                </li>
            </ul>
        </nav>
        <div id="accordion">
            <div class="row mt-3">
                <div class="col-6">
                    <div class="card">
                        <div class="card-header text-center" id="headingOne">
                            <h5>
                                <a data-toggle="collapse" href="#collapseExample1" role="button" aria-expanded="false" aria-controls="collapseExample1">Register for Technical Assessment</a>
                            </h5>
                        </div>
                        <div class="collapse" id="collapseExample1" aria-labelledby="headingOne" data-parent="#accordion">
                            <div class="card-body">
                                <div class="card">
                                    <div class="card-header">
                                        <div class="card-title">
                                            <h5>Technical Assessment Registration</h5>
                                        </div>
                                    </div>
                                    <div class="card-body">
                                        <app-techassessment [today]="today"></app-techassessment>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-6">
                    <div class="card">
                        <div class="card-header text-center" id="headingTwo">
                            <h5>
                                <a class="collapsed" data-toggle="collapse" href="#collapseExample2" role="button" aria-expanded="false" aria-controls="collapseExample2">Register for Behavioral Assessment</a>
                            </h5>
                        </div>
                        <div class="collapse" id="collapseExample2" aria-labelledby="headingTwo" data-parent="#accordion">
                            <div class="card-body">
                                <div class="card">
                                    <div class="card-header">
                                        <div class="card-title">
                                            <h5>Behavioral Assessment Registration</h5>
                                        </div>
                                    </div>
                                    <div class="card-body">
                                        <app-behvassessment [today]="today"></app-behvassessment>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>

<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
<script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.15.0/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>

</html>