<!DOCTYPE html>
<html>

<head>
  <title>{{ title }}</title>
</head>

<body>
  <div class="sidenav">
    <div class="login-main-text">
      <h2>
        Assessment Management<br> Login Page
      </h2>
      <p>Login and Register for Assessment.</p>
    </div>
  </div>
  <div class="main">
    <div class="col-md-6 col-sm-12">
      <div class="login-form">
        <app-login [title]="title" (errAlert)="setErrAlert($event)"></app-login>
        <div class="alert mt-3" role="alert">
          <strong>{{ errAlert.eUserId }}</strong>
          <strong>{{ errAlert.ePass }}</strong>
          <strong>{{ errAlert.eLevel }}</strong>
        </div>
      </div>
    </div>
  </div>
</body>

<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
<script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.15.0/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>

</html>