<!DOCTYPE html>
<html>

<head>
    <title>{{ title }}</title>
</head>

<body>
    <div class="container">
        <nav class="navbar navbar-expand-lg navbar-light bg-white justify-content-end">
            <ul class="navbar-nav">
                <li class="row">
                    <div class="col-sm-2">
                        <a href="/getOut">Logout</a>
                    </div>
                </li>
            </ul>
        </nav>
        <table class="table table-striped table-bordered mt-3">
            <thead>
                <tr>
                    <th scope="col">User ID</th>
                    <th scope="col">Assessment</th>
                    <th scope="col">Date</th>
                    <th scope="col">Type</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let direct of registeredDetails">
                    <td>{{ direct.userId }}</td>
                    <td>{{ direct.skillTopic }}</td>
                    <td>{{ direct.scheduledDate }}</td>
                    <td>{{ direct.assessmentType }}</td>
                </tr>
            </tbody>
        </table>
    </div>
</body>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
<script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.15.0/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</html>