<form class="form-horizontal" role="form">
    <div style="display: none" class="alert alert-danger signupalert">
        <p>Error:</p><span></span>
    </div>
    <div class="form-group">
        <label class="col-md-3 control-label">User ID</label>
        <div class="col-md-9">
            <input type="text" [value]="userId" (input)="userId = $event.target.value" class="form-control" disabled>
        </div>
    </div>
    <div class="form-group">
        <label class="col-md-3 control-label">Assessment</label>
        <div class="col-md-9">
            <select class="form-control" [(ngModel)]="TechReg.skillTopic">
                <option selected disabled>Select an assessment</option>
                <option>Java</option>
                <option>C++</option>
                <option>C#</option>
                <option>Python</option>
                <option>Perl</option>
                <option>PHP</option>
            </select>
        </div>
    </div>
    <div class="form-group">
        <label class="col-md-3 control-label">Date</label>
        <div class="col-md-9">
            <input type="date" id="dateof" [(ngModel)]="TechReg.scheduledDate" class="form-control" placeholder="Select a Date">
        </div>
    </div>
    <div class="form-group">
        <!-- Button -->
        <div class="col-md-offset-3 col-md-9">
            <button type="submit" class="btn btn-info" (click)="sendTechA()">
                <i class="icon-hand-right"></i>Register
            </button>
        </div>
    </div>
</form>